.button {
    width: 127px;
    height: 52px;
    
    border:none;
    border-radius: 8px;
    font-family: 'ProximaNova';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin: 30px 0;
}

.standart {
    color: white;
    background-color: #384564;
}

.return {
    width: 227px;
    color: #3A4562;
    background-color: rgb(238, 238, 238);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;

}

@media (max-width: 425px) {
    .button {
        margin: 30px auto;
    }

}