.jobInfo {
    width: 100%;
    display: flex;
    align-content: center;
}

.outer {
    margin: 50px auto;
    width: 60%;
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
}


.map {
    width: 30%;
}


.standart {
    width: 127px;
    height: 52px;
    color: white;
    background-color: #384564;
    border:none;
    border-radius: 8px;
    font-family: 'ProximaNova';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin: 50px 0;
}

ul {
    padding: 0;
    margin: 0;
}

.employment {
    display: flex;
}

.head {
    font-family: "ProximaNova";
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.625px;
    text-align: left;
    color: #3A4562;

}

.image {
    width: 200px;
    height: 300px;
    margin-right: 8px;
    margin-top: 16px;
    border-radius: 8px;
}

.heading {

    font-family: "ProximaNova";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.75px;
    text-align: left;
}   