.jobInfo {
    width: 100%;
    display: flex;
    align-content: center;
}

.mobile {
    display: none;
}

.titleSalary {
    width: 100%;
    display: flex;
}

.title {
    width: 70%;
}

.salary {
    width: 30%;
}

.salary p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #38415d;
    margin-right: 20px;
    margin: 0;

}

.outer {
    margin: 50px auto;
    width: 60%;
    display: flex;
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
}


.map {
    width: 30%;
    margin:20px;
}


ul {
    padding: 0;
    margin: 0;
}

.employment {
    display: flex;
}

.head {
    font-family: "ProximaNova";
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.625px;
    text-align: left;
    color: #3A4562;

}

.image {
    width: 200px;
    height: 300px;
    margin-right: 8px;
    margin-top: 16px;
    border-radius: 8px;
}

.heading {

    font-family: "ProximaNova";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.75px;
    text-align: left;
    color: #3A4562;
}   

@media (max-width: 425px) {
    .desktop {
        display: none !important;
    }

    .outer {
        width: 100%;
    }

    .content {
        width: 90%;
        margin: auto
    }

    .titleSalary {
        margin-top: 20px;
    }
    
    .image {
        width: 100px;
        height: 150px;
    }

    .pictures {
        display: flex;
        justify-content: space-around;
    }

    .map {
        width: 90%;
        margin: 20px auto;
    }

    .mobile {
        display: flex;
    }
}