.textBlock {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #38415d;
}

.textBlock li{
    list-style: square;
    
}

.textBlock li::marker {
    color: rgb(156, 156, 156);
    font-size: 25px;

}