.sectionHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.details {
    display: flex;
    align-items: center;
}

.underline {
    border-bottom: 1px solid #3a45622a;
}