.sectionHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.flex {
    display: flex;
}

.details {
    display: flex;
    align-items: center;
}

.underline {
    border-bottom: 1px solid #3a45622a;
}

.sectionHeader h2 {
    font-family: "ProximaNova";
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.4133332073688507px;
    text-align: left;
    color: #3A4562;
}